  /*Главное фото*/
  .grad-enter {
    background-image: url("../photo/himM.jpg");
  }

  /*Цвет фона залыленных фото*/
  .people-intro {
    background-color: #222b31;
    color: #EEEEEE;
  }

  @media screen and (min-width: 801px) {
    .people-intro nav ul li a:before {
      -webkit-box-shadow: inset 0 0 200px #222b31;
              box-shadow: inset 0 0 200px #222b31;
    }
    .people-intro nav ul li a:hover:before {
      -webkit-box-shadow: inset 0 0 30px #222b31;
              box-shadow: inset 0 0 30px #222b31;
    }
  }
  