  
  /*Основные свойства*/
  *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    background-color: #393E46;
  }

  /*Вступительное слово*/
  .top-word {
    padding: 1vh 0 2vh 0;
    color: #EEEEEE;
    background: -webkit-gradient(linear, left top, right top, from(#2a2231), to(#008aa6));
    background: -o-linear-gradient(left, #2a2231, #008aa6);
    background: linear-gradient(to right, #2a2231, #008aa6);
    -webkit-box-shadow: 0px -30px 13px -9px #393E46 inset;
    box-shadow: 0px -30px 13px -9px #393E46 inset;
  }
  .main-heading {
    padding-left: 5rem;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    margin: 3.75rem 0;
    text-align: left;
    text-transform: uppercase;
  }

  /*Слоган с фото*/
  .intro {
    position: relative;
    width: 100%;
    height: 75vh;
  }
  .left-slog {
    float: left;
    height: 100%;
    width: 60%;
    padding: 0 3rem 0rem 5rem;
    display: table;
  }
  .left-slog > div {
    display: table-cell;
    vertical-align: middle;
  }
  .slog {
    font-size: 9vh;
    margin-bottom: 20px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: -o-linear-gradient(285deg, rgb(182, 205, 50), rgb(0, 174, 255), rgb(122, 112, 216));
    background-image: linear-gradient(165deg, rgb(182, 205, 50), rgb(0, 174, 255), rgb(122, 112, 216));
  }
  .scientists-photo {
    float: right;
    position: relative;
    width: 40%;
    height: 100%;
  }
  .scientists-photo div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: clip .7s ease-in-out, z-index 0s .7s;
    -o-transition: clip .7s ease-in-out, z-index 0s .7s;
    transition: clip .7s ease-in-out, z-index 0s .7s;
    display: table;
    background-image: url("../photo/allsin.jpg");
    box-shadow:0 0 0 1280px rgba(0, 0, 0, 0.33) inset;
    -webkit-box-shadow: inset 8px 0px 13px 15px #393E46; 
    box-shadow: inset 8px 0px 13px 15px #393E46;
  }

  /*Карточки-ссылки*/
  .item-menu {
    margin: 0 auto;
    max-width: 45rem;
    padding-bottom: 3rem;
  }
  .introduction {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.18rem;
    margin: 3.75rem 0;
    text-align: center;
    text-transform: uppercase;
    color: #EEEEEE;
  }
  .item-href {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color:#EEEEEE;
    color: rgb(54, 54, 54);
    color:#222831;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1.875rem 0;
    padding: 1.25rem;
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .item-href:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #b6b6b6;
    color: rgb(0, 0, 0);
  }
  .item-href:hover .item-introduction{
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #030350;
  }
  .item-href * {
    pointer-events: none;
  }
  .item-introduction {
    font-size: 1.25rem;
    margin: 0.625rem 0;
  }
  .item-description {
    line-height: 1.5;
    margin: 0.625rem 0;
  }
  .item-img {
    height: 6.25rem;
    margin-left: 1.25rem;
    min-width: 10rem;
    width: 10rem;
  }
  .i-img {
    border-radius: 0.125rem;
    display: block;
    height: 100%;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-filter 0.3s ease-in;
    transition: -webkit-filter 0.3s ease-in;
    -o-transition: filter 0.3s ease-in;
    transition: filter 0.3s ease-in;
    transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
    width: 100%;
  }
  .item-href:hover .i-img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  @media screen and (max-width: 940px) {
    .left-slog {
      width: 100%;
      height: 30%;
      padding: 0 3rem 0rem 3rem;
      text-align: center;
    }
    .scientists-photo {
      width: 100%;
      height: 70%;
      margin-bottom: 3rem;
    }
    .scientists-photo div {
      -webkit-box-shadow: inset 0px 0px 11px 10px #393E46; 
      box-shadow: inset 0px 0px 11px 10px #393E46;
    }
    .introduction {
      font-size: 1.8rem;
      font-weight: 250;
      letter-spacing: 0.10rem;
      margin: 3.75rem 0;
    }
    .slog {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .item-menu {
      margin: 0 auto;
      max-width: 37.5rem;
      padding-bottom: 3rem;
    }
    .main-heading {
      padding-left: 0;
      font-size: 2rem;
      font-weight: 250;
      letter-spacing: 0.10rem;
      text-align: center;
    }
  }

  @media screen and (max-width: 380px) {
    .item-menu {
      padding-bottom: 0;
    }
    .item-href {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      text-align: center;
    }
    .item-img {
      margin-left: 0;
    }
    .i-img {
      -webkit-filter: grayscale(0);
              filter: grayscale(0);
    }
  }