::-moz-selection {
  background: #00ADB5; /* Safari */
}
::selection {
  background: #00ADB5; /* Safari */
}
::-moz-selection {
  background: #00ADB5; /* Firefox */
}

/*Скролбар стили*/
body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgb(37, 38, 68);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(174, 174, 214, 0.425);    /* цвет плашки */
  border-radius: 0;       /* закругления плашки */
  border: 0;  /* padding вокруг плашки */
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

/*Кнопка*/
.but a{
  text-decoration: none;
}
.button {
  margin: 10px;
  padding: 20px;
  border: 2px solid #00ADB5;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: default;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #EEEEEE;
}
.button:hover {
  -webkit-box-shadow: 0px 0px 0px 3px #00ADB5;
          box-shadow: 0px 0px 0px 3px #00ADB5;
}


/*Подвал*/
footer{
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #EEEEEE;
  background-color: #222831;
}

@media screen and (max-width: 380px) {
  footer{
    font-size: 13px;
  }
}